
  <div class="head"><h1 class="logo"><i> ContentManagement </i></h1><br><br>

  <nav class="nav1">
    <a class="block"routerLink="home" style="font-size: 20px" >Home</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="block" routerLink="login" style="font-size: 20px">Login</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a  class="block" routerLink="register" style="font-size: 20px">Register</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <a class="block" routerLink="admin" style="font-size: 20px">Admin</a> -->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="block" routerLink="content" style="font-size: 20px">Addcontent</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <!-- <a class="block" routerLink="viewallusers" style="font-size: 20px">viewallusers</a> -->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="block" routerLink="viewcontent" style="font-size: 20px">viewcontent</a> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;
  <a class="block" routerLink="search" style="font-size: 20px">search</a> 
  </nav>
  <router-outlet></router-outlet> 
</div>

