<p>admin works!</p>
<div class="body1"><h2>Welcome Adminstrator</h2>
    <!-- <a class="body1"routerLink="add">Add User</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="body1"routerLink="edit">Edit User</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <a class="body1"routerLink="delete">Delete User</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="body1"routerLink="viewallusers">viewallusers</a>
    <router-outlet></router-outlet></div>
    